Repository vuepress/vuepress-next, pull requests merged in 2021-06, with the labels that each got.

#192 docs(plugin-search): fix typo
  docs/zh/reference/plugin/search.md
Labels: documentation

#220 build(shared): avoid publishing tsbuildinfo
  packages/@vuepress/shared/tsconfig.esm.json
Labels: package:shared

#233 docs: update emoji-cheat-sheet website
  docs/guide/markdown.md
  docs/zh/guide/markdown.md
Labels: documentation

#238 fix(theme-default): fix nav glitch at exactly 719px screen width
  packages/@vuepress/theme-default/src/client/components/Navbar.vue
  packages/@vuepress/theme-default/src/client/styles/dropdown.scss
Labels: package:theme-default
